
.routing-page {
  display: flex;
  flex-direction: row;
}
.links {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  margin: 20px;
  padding: 10px;
}
.auth-form {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
h1, p{
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  border: dotted;
  padding: 20px;
  margin: 10px;
}
label {
  display: flex;
  flex-direction: column;
}